<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="connexion"></ion-back-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <div class="body">
        <ion-list>
            <ion-item>
                <ion-input text-center type="text" placeholder="Pseudo" [(ngModel)]="pseudo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input text-center type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input text-center type="password" placeholder="Mot de passe" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input text-center type="password" placeholder="Confirmez mot de passe"
                           [(ngModel)]="confirmPassword"></ion-input>
            </ion-item>
        </ion-list>
        <div class="buttons">
            <div (click)="register()"><p>VALIDER</p></div>
        </div>
    </div>
</ion-content>
