<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/accueil" text="Accueil" mode="ios"></ion-back-button>
        </ion-buttons>
        <ion-title>Mon profil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="body">
        <img *ngIf="img" style="width: 80px; border: 2px solid #F49D37; border-radius: 50%;" src="{{img}}">
        <img *ngIf="!img" style="width: 80px; border: 2px solid #F49D37; border-radius: 50%;" src="../assets/images/portrait.png">
        <p style="font-weight: bold; font-size: 16pt; color: #305f73; border-bottom: 2px solid #F49D37;">{{pseudo | uppercase}}</p>
        <ion-button expand="block" [routerLink]="['/form-update']">Modifier mon profil</ion-button>
        <ion-button expand="block" (click)="deco()">Déconnexion</ion-button>
    </div>
</ion-content>
