#spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

ion-item {
  color: #305f73;
  h2 {
    color: #305f73;
  }
  h3 {
    color: #F49D37;
  }
}

.list-ios {
  margin-top: 15px;
  margin-bottom: 15px;
}
