<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/accueil" text="Accueil" mode="ios"></ion-back-button>
        </ion-buttons>
        <ion-title>Ma liste de souhaits</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="rafraichir($event)">
        <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Tire pour rafraichir"
                refreshingSpinner="circles"
                refreshingText="Rafraîchissement...">
        </ion-refresher-content>
    </ion-refresher>
    <div id="body">
        <div justify-content-center align-items-center *ngIf="spinner">
            <ion-spinner id="spinner"></ion-spinner>
        </div>
        <div *ngIf="!spinner">
            <ion-list id="books" *ngFor="let book of books">
                <div [routerLink]="['/details', book.id]">
                    <ion-item-sliding>
                        <ion-item-options side="end" (ionSwipe)="delete(book.id)">
                            <ion-item-option color="danger">
                                <ion-icon name="trash"></ion-icon>
                                Supprimer
                            </ion-item-option>
                        </ion-item-options>
                        <ion-item detail="">
                            <ion-avatar slot="start">
                                <div *ngIf="book.volumeInfo.imageLinks; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock><img src="{{book.volumeInfo.imageLinks.smallThumbnail}}">
                                </ng-template>
                                <ng-template #elseBlock><img src="../assets/images/indisponible.jpg"></ng-template>
                            </ion-avatar>
                            <ion-label>
                                <h2>{{book.volumeInfo.title}}</h2>
                                <h3>{{book.volumeInfo.authors}} - {{book.volumeInfo.averageRating}}
                                    <ion-icon name="star" mode="ios"></ion-icon>
                                </h3>
                                <div style="display: flex; justify-content: flex-end">
                                    <div *ngIf="book.saleInfo.listPrice; then a else b"></div>
                                    <ng-template #a>
                                        <p>
                                            <ion-icon slot="start" name="book"
                                                      src="../assets/images/google-play-store.svg"></ion-icon>
                                            {{book.saleInfo.listPrice.amount}} €
                                        </p>
                                    </ng-template>
                                    <ng-template #b>
                                        <p>
                                            <ion-icon slot="start" name="book"
                                                      src="../assets/images/google-play-store.svg"></ion-icon>
                                            Pas en vente
                                        </p>
                                    </ng-template>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-item-sliding>
                </div>
            </ion-list>
        </div>
    </div>
</ion-content>
