<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bibliotheque">
      <ion-icon name="book"></ion-icon>
      <ion-label>Ma Bibliothèque</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wish">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mon profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
