<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/details/{{idBook}}" text="Détails" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Avis / Bookmark</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
