<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/profil" text="Accueil" mode="ios"></ion-back-button>
        </ion-buttons>
        <ion-title>Modifier mon profil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="body">
        <form>
            <ion-item>
                <ion-label>Pseudo :</ion-label>
                <ion-input type="text" name="pseudo" [(ngModel)]="pseudo"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Email :</ion-label>
                <ion-input name="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block" (click)="update()">Valider</ion-button>
        </form>
    </div>
</ion-content>
