<ion-header>
    <ion-toolbar>
        <ion-title>Connexion</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="body">
        <ion-list>
            <ion-item>
                <ion-input text-center type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input text-center type="password" placeholder="Mot de passe" [(ngModel)]="password"></ion-input>
            </ion-item>
        </ion-list>
        <div [routerLink]="['../pwd-oublie']"><p>Mot de passe oublié?</p></div>
        <div class="buttons">
            <div (click)="login()"><p>SE CONNECTER</p></div>
            <div [routerLink]="['../inscription']"><p>INSCRIPTION</p></div>
        </div>
        <div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
            <p>- ou -</p>
            <ion-button expand="full" color="primary" (click)="fbLogin()">
                Connexion avec&nbsp;
                <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
        </div>
    </div>
</ion-content>
