<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="connexion"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="body">
    <ion-item>
      <ion-input text-center type="email" placeholder="Email" [(ngModel)]="emailPwd"></ion-input>
    </ion-item>
    <div class="buttons">
      <div style="text-align: center" (click)="pwdOublie()"><p>CHANGER DE MOT DE PASSE</p></div>
    </div>
  </div>
</ion-content>
