.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 44px);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F49D37;
    background-color: #F49D37;
    border-radius: 25px;
    width: 150px;
    height: 30px;
    color: #305f73;
    margin: 10px;
  }
  p {
    font-size: 10px;
  }
}
