a {text-decoration: none;}
.hello {text-align: center;}
#spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

.rafraichir {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

a {
  text-decoration: none;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #305f73;
}

ion-label {
  color: #305f73;
}

ion-select {
  color: #F49D37;
}

ion-item {
  color: #305f73;
  h2 {
    color: #305f73;
  }
  h3 {
    color: #F49D37;
  }
}

.list-ios {
  margin-top: 15px;
  margin-bottom: 15px;
}
