<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/accueil" text="Accueil" mode="ios"></ion-back-button>
        </ion-buttons>
        <ion-title>Ma bibliothèque</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="rafraichir($event)">
        <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Tire pour rafraichir"
                refreshingSpinner="circles"
                refreshingText="Rafraîchissement...">
        </ion-refresher-content>
    </ion-refresher>
    <div id="body">
        <div justify-content-center align-items-center *ngIf="spinner">
            <ion-spinner id="spinner"></ion-spinner>
        </div>
        <div *ngIf="!spinner">
            <ion-list id="books" *ngFor="let book of books">
                <div [routerLink]="['/details', book.id]">
                    <ion-item-sliding>
                        <ion-item-options side="end" (ionSwipe)="delete(book.id)">
                            <ion-item-option color="danger">
                                <ion-icon name="trash"></ion-icon>
                                Supprimer
                            </ion-item-option>
                        </ion-item-options>
                        <ion-item-options side="start" (ionSwipe)="bookmark(book.volumeInfo.pageCount, book.id)">
                            <ion-item-option color="primary">
                                <ion-icon name="bookmark"></ion-icon>
                                Bookmark
                            </ion-item-option>
                        </ion-item-options>
                        <ion-item detail>
                            <ion-avatar slot="start">
                                <div *ngIf="book.volumeInfo.imageLinks; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock><img src="{{book.volumeInfo.imageLinks.smallThumbnail}}">
                                </ng-template>
                                <ng-template #elseBlock><img src="../assets/images/indisponible.jpg"></ng-template>
                            </ion-avatar>
                            <ion-label>
                                <h2>{{book.volumeInfo.title}}</h2>
                                <h3>{{book.volumeInfo.authors}} - {{book.volumeInfo.averageRating}}
                                    <ion-icon name="star" mode="ios"></ion-icon>
                                </h3>
                                <div style="display: flex; justify-content: space-between">
                                    <div>
                                        <p>Lu: {{book.page.page}} / {{book.volumeInfo.pageCount}}</p>
                                    </div>
                                    <div>
                                        <p *ngIf="book.status === 'Terminé'" style="color: lawngreen">{{book.status}}</p>
                                        <p *ngIf="book.status === 'Pas commencé'" style="color: red">{{book.status}}</p>
                                        <p *ngIf="book.status === 'En cours'" style="color: #F49D37">{{book.status}}</p>
                                    </div>
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-item-sliding>
                </div>
            </ion-list>
        </div>
    </div>

</ion-content>
