.fontMedium {
  font-family: robotoMedium;
}

.fontLight {
  font-family: robotoLight;
}

h2, h4, p {
  text-align: center;
}

ion-row:nth-child(2) {
  display: flex;
  justify-content: center;
}

ion-row:nth-child(5) p, ion-row:nth-child(6) p {
  margin: 2px 0 2px 0;
}

.test {
  background-color: red;
  width: 200px;
  height: 200px;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

ion-button {
  width: 100%;
  height: 45px;
}

ion-label {
  color: white;
  font-size: 16px!important;
}

ion-select {
  color: #F49D37;
  padding: 12px 0 10px 25px;
  font-size: 16px;
}

ion-item {
  color: #305f73;
  h2 {
    color: #305f73;
  }
  h3 {
    color: #F49D37;
  }
}

.select {
  width: 100%;
}

.item {
  width: 100vw;
  margin-left: -16px;
  margin-right: -7px;
}
