<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/accueil" text="Accueil" mode="ios"></ion-back-button>
        </ion-buttons>
        <ion-title>Détail du livre</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div justify-content-center align-items-center *ngIf="spinner">
        <ion-spinner id="spinner"></ion-spinner>
    </div>
    <ion-grid padding *ngIf="!spinner">
        <div *ngIf="dataLoaded | async">
            <ion-row justify-content-center>
                <div *ngIf="book.volumeInfo.imageLinks; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><img src="{{book.volumeInfo.imageLinks.thumbnail}}"></ng-template>
                <ng-template #elseBlock><img src="../assets/images/indisponible.jpg"></ng-template>
            </ion-row>
            <ion-row>
                <h2 class="fontMedium">{{book.volumeInfo.title}}</h2>
            </ion-row>
            <ion-row justify-content-center>
                <h4 class="fontMedium">{{book.volumeInfo.authors}} - {{book.volumeInfo.averageRating}}/5
                    <ion-icon name="star" mode="ios"></ion-icon>
                </h4>
            </ion-row>
            <ion-row class="fontLight" justify-content-center>
                <p><span [innerHTML]="book.volumeInfo.description"></span></p>
            </ion-row>
            <ion-row class="fontMedium">
                <p>Nombre de pages : {{book.volumeInfo.pageCount}}</p>
            </ion-row>
            <ion-row class="fontMedium" padding-bottom>
                <p>Genre : {{book.volumeInfo.categories[0]}}</p>
            </ion-row>
<!--            <ion-row>
                <ion-button *ngIf="addedB" expand="block" fill="outline" [routerLink]="['/details/'+idBook+'/comment-bookmark']">
                    Commentaires / Bookmark
                </ion-button>
            </ion-row>-->
            <ion-row *ngIf="addedB">
                <ion-item class="item" lines="none">
                    <ion-button expand="block">
                        <ion-label>Statut de lecture</ion-label>
                        <ion-select value="{{status}}" (ionChange)="onChange($event)">
                            <ion-select-option *ngFor="let status of statuses">{{status.name}}</ion-select-option>
                        </ion-select>
                    </ion-button>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-button expand="block" (click)="redirectToStore()" fill="outline">
                    <ion-icon slot="start" name="book" src="../assets/images/google-play-store.svg"></ion-icon>
                    Play Store - {{book.saleInfo.listPrice.amount}} €
                </ion-button>
            </ion-row>
            <ion-row *ngIf="!addedB">
                <ion-button expand="block" (click)="addLibrary()">
                    <ion-icon slot="start" name="book" mode="ios"></ion-icon>
                    Ajouter à ma bibliothèque
                </ion-button>
            </ion-row>
            <ion-row *ngIf="addedB">
                <ion-button expand="block" (click)="deleteLibrary()">
                    <ion-icon slot="start" name="book" mode="ios"></ion-icon>
                    Supprimer de ma bibliothèque
                </ion-button>
            </ion-row>
            <ion-row *ngIf="!addedW">
                <ion-button expand="block" (click)="addWish()">
                    <ion-icon slot="start" name="basket" mode="ios"></ion-icon>
                    Ajouter à ma liste de souhaits
                </ion-button>
            </ion-row>
            <ion-row *ngIf="addedW">
                <ion-button expand="block" (click)="deleteWish()">
                    <ion-icon slot="start" name="basket" mode="ios"></ion-icon>
                    Supprimer de ma liste de souhaits
                </ion-button>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
