a {
  text-decoration: none;
}

.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #305f73;
}

ion-label {
  color: #305f73;
}

ion-select {
  color: #F49D37;
}

ion-item {
  color: #305f73;
  h2 {
    color: #305f73;
  }
  h3 {
    color: #F49D37;
  }
}
