<ion-content>
    <div id="body">
        <p class="hello">Bonjour {{pseudo}},<br>qu'allons nous lire aujourd'hui?</p>
        <ion-list>
            <ion-item>
                <ion-label>Recherche par</ion-label>
                <ion-select [(ngModel)]="trie">
                    <ion-select-option>Titre</ion-select-option>
                    <ion-select-option>Auteur</ion-select-option>
                    <ion-select-option>Editeur</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label>Trier par</ion-label>
                <ion-select [(ngModel)]="trie2">
                    <ion-select-option>Pertinence</ion-select-option>
                    <ion-select-option>Nouveauté</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-searchbar mode="ios" (ionChange)="search($event)" placeholder="Recherche"></ion-searchbar>
        <ion-list id="books" *ngFor="let book of books.items">
            <div style="background-color: #002949;" [routerLink]="['/details', book.id]">
                <ion-item detail>
                    <ion-avatar slot="start">
                        <div *ngIf="book.volumeInfo.imageLinks; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock><img src="{{book.volumeInfo.imageLinks.smallThumbnail}}">
                        </ng-template>
                        <ng-template #elseBlock><img src="../assets/images/indisponible.jpg"></ng-template>
                    </ion-avatar>
                    <ion-label>
                        <h2>{{book.volumeInfo.title}}</h2>
                        <h3>{{book.volumeInfo.authors}} - {{book.volumeInfo.averageRating}}
                            <ion-icon name="star" mode="ios"></ion-icon>
                        </h3>
                        <p><span [innerHTML]="book.volumeInfo.description"></span></p>
                    </ion-label>
                </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>
